@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: local('Open Sans'),
    local('OpenSans'),
    url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: local('Open Sans Light'),
    local('OpenSans Light'),
    url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

html {
    overflow: auto;
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #4d4e53;
    background-color: #f1f1f7;
    margin: 60px 0 0;
    display: grid;
    grid-template-columns: 265px 1fr;
    grid-template-rows: calc(100vh - 60px);
}

a, a:visited, a:active {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body > header {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 30px 0 0;
    background-color: white;
    border-bottom: 1px solid #dcdcdc;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 60px;
    align-items: center;
    justify-items: center;
}

header {
    display: block;
    padding: 0 4px;
}

header h1, header h2, header h3, header h4 {
    display: flex;
    margin-bottom: 0;
}

tt, code, kbd, samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.package-details {
    margin: 0;
    font-size: 2.5rem;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 10px;
    align-items: center;
    line-height: 1.3;
}

.package-name {
    text-transform: uppercase;
    text-decoration: none !important;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.package-name img {
    max-height: 100%;
    box-sizing: border-box;
    padding: 12px 0;
}

.package-version {
    font-size: 0.65em;
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

main {
    height: 100%;
    overflow: scroll;
}

main > section {
    display: block;
    padding: 12px 24px;
    margin: 15px 15px 15px 0;
    border: 1px solid #dcdcdc;
    background: white;
}

.main-page .readme h2 {
    border-bottom: 1px solid #ccc;
}

.main-page .readme h6 a {
    display: block;
}

.main-page .readme h6 a img {
    display: block;
    margin: 0 auto;
}

.main-page .readme p > br {
    display: none;
}

.main-page .readme p > br ~ br {
    display: block;
}

article dl {
    margin-bottom: 40px;
}

article img {
    max-width: 100%;
}

article article {
    padding: 0;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-left: 2px solid #aaa;
}

article article > * {
    padding-left: 12px;
    border-left: 0.5em solid #ccc;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

nav {
    display: block;
    box-sizing: border-box;
    padding: 0 30px 15px 15px;
    margin-top: 15px;
    overflow: scroll;
}

nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul ul {
    padding-left: 10px;
    margin-bottom: 12px;
}

nav ul ul ul {
    padding-left: 15px;
}

nav ul a, nav ul a:visited, nav ul a:active {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

nav ul ul a, nav ul ul a:visited, nav ul ul a:active {
    color: #4D4E53;
}

nav li {
    margin-bottom: 6px;
}

footer {
    display: block;
    padding: 6px;
    font-style: italic;
    font-size: 90%;
    text-align: center;
}

h1, h2, h3, h4 {
    font-weight: 200;
    margin: 0;
}

h1 {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    margin: 12px 24px 20px;
}

h2, h3.subsection-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}

h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

h4 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #4d4e53;
}

h5, .container-overview .subsection-title {
    font-size: 120%;
    font-weight: bold;
    margin: 8px 0 3px 0;
}

h6 {
    font-size: 100%;
    margin: 6px 0 3px 0;
    font-style: italic;
}

table {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    margin: 0;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

thead tr {
    background-color: #ddd;
    font-weight: bold;
}

th {
    border-right: 1px solid #aaa;
}

tr > th:last-child {
    border-right: 1px solid #ddd;
}

.ancestors, .attribs {
    color: #999;
}

.ancestors a, .attribs a {
    color: #999 !important;
    text-decoration: none;
}

.clear {
    clear: both;
}

.important {
    font-weight: bold;
    color: #950B02;
}

.type-signature {
    color: #aaa;
}

.type-signature + p {
    display: inline;
}

.name, .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details dl {
    margin: 14px 0;
    border-left: 2px solid #DDD;
}

.details dt {
    width: 120px;
    float: left;
    padding-left: 10px;
    padding-top: 6px;
}

.details dd {
    margin-left: 70px;
}

.details ul {
    margin: 0;
}

.details ul {
    list-style-type: none;
}

.details li {
    margin-left: 30px;
    padding-top: 6px;
}

.details pre.prettyprint {
    margin: 0
}

.details .object-value {
    padding-top: 0;
}

.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption {
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.source {
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.source code {
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    padding-left: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li {
    border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    background-color: lightyellow;
}

.prettyprint.linenums li * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.params .name, .props .name, .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}
